<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h1>Items</h1>
    <!-- Your HTML content here -->
    <div id="items-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% var itemsArray = JSON.parse(items); %>
                <% itemsArray.forEach(function(item) { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td><%= item.price %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>


</body>
</html>
